@import "variables";

.areas {
  .ar_bod_mob {
    display: none;
  }

  img {
    width: 300px;
  }

  .areas__header {
    text-align: center;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 30px;
    display: block;
    justify-content: space-around;
  }

  .areas__intro {
    text-align: center;
  }

  .areas__body {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .areaUno,
  .areaDos,
  .areaTres {
    margin-left: 40px;
    margin-top: 40px;
  }

  .areas_fin {
    margin-top: 60px;
    text-align: center;
    a {
      color: $Negro;
      text-decoration: none;
    }
    a:hover {
      color: $Rojo;
      transition: all 0.5s;
    }
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  .areas {
    display: none;
  }
}
