@import "variables";

.banner {
  .banner__img {
    img {
      width: 100%;
      margin-top: -74px;
    }
  }

  .banner__line {
    z-index: 1;
    position: absolute;
    margin-top: -74px;
    img {
      width: 100%;
    }
  }

  .banner__slogan {
    display: flex;
    justify-content: center;
    background: $Gris;
    height: 50px;
    position: relative;
    bottom: 6px;

    p {
      display: flex;
      align-items: center;
      color: $Blanco;
      font-size: 20px;
    }
  }
}
