@import "variables";
/* Inner */
.inner {
  .inner__mob {
    display: none;
  }

  .inner__logo {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    left: 60px;
    top: 12px;
    img {
      width: 180px;
      &:hover {
        opacity: 80%;
        width: 182px;
        transition: all 0.6s;
      }
    }
  }

  .inner__last {
    a {
      color: $Blanco;
      text-decoration: none;
    }

    position: absolute;
    right: 100px;
    top: 180px;
    z-index: 2;
    width: 220px;
    height: 280px;
    color: $Blanco;
    background: $Gris;
    border-radius: 6px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    &:hover {
      transition: all 0.6s;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }

    img {
      width: 200px;
    }

    .card {
      .card__header {
        margin-bottom: 16px;
      }
    }
  }

  .inner__slogan {
    display: flex;
    justify-content: center;
    background: $Gris;
    color: $Blanco;
    height: 50px;
    position: relative;
    align-items: center;
    bottom: 66px;
  }

  .inner__img {
    img {
      width: 100%;
      position: relative;
      bottom: 60px;
    }
  }
}

/* Banner */

.banner {
  .banner__mob {
    display: none;
  }

  .banner__logo {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    left: 60px;
    top: 12px;
    img {
      width: 180px;
      &:hover {
        opacity: 80%;
        width: 182px;
        transition: all 0.6s;
      }
    }
  }

  .banner__img {
    img {
      width: 100%;
      margin-top: -74px;
    }
  }

  .banner__line {
    z-index: 1;
    position: absolute;
    margin-top: -74px;
    img {
      width: 100%;
    }
  }

  .banner__last {
    a {
      color: $Blanco;
      text-decoration: none;
    }
    position: absolute;
    right: 100px;
    top: 240px;
    z-index: 2;
    width: 220px;
    height: 280px;
    color: $Blanco;
    background: $Gris;
    border-radius: 6px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    &:hover {
      transition: all 0.6s;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }

    img {
      width: 200px;
    }

    .card {
      .card__header {
        margin-bottom: 16px;
      }
    }
  }

  .banner__slogan {
    display: flex;
    justify-content: center;
    background: $Gris;
    height: 50px;
    position: relative;
    bottom: 6px;

    p {
      display: flex;
      align-items: center;
      color: $Blanco;
      font-size: 20px;
    }
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  /* Inner */
  .inner {
    .inner__mob {
      display: block;
      margin-top: -40px;

      img {
        width: 100%;
      }
    }

    .inner__last {
      right: 40px;
      z-index: 1;
    }

    .inner__logo {
      left: 0px;
      top: -8px;
      img {
        width: 120px;
      }
    }

    .inner__img {
      display: none;
    }

    .inner__slogan {
      bottom: 40px;
      z-index: 1;
    }
  }

  /* Banner */
  .banner {
    .banner__mob {
      display: block;
      margin-top: -40px;
      img {
        width: 100%;
      }
    }

    .banner__last {
      right: 40px;
      top: 160px;
      z-index: 0;
    }

    .banner__img {
      display: none;
    }

    .banner__logo {
      left: 0px;
      top: -10px;
      img {
        width: 120px;
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 410px) {
  /* Inner */
  .inner {
    .inner__mob {
      display: block;
      margin-top: -40px;

      img {
        width: 100%;
      }
    }

    .inner__last {
      right: 20px;
      width: 320px;
      z-index: 1;
    }

    .inner__logo {
      left: 0px;
      top: -8px;
      img {
        width: 120px;
      }
    }

    .inner__img {
      display: none;
    }

    .inner__slogan {
      bottom: 40px;
      z-index: 1;
    }
  }

  .banner {
    .banner__mob {
      display: block;
      margin-top: -40px;
      img {
        width: 100%;
      }
    }

    .banner__last {
      right: 20px;
      top: 210px;
      z-index: 0;
      width: 320px;
    }

    .banner__img {
      display: none;
    }

    .banner__logo {
      left: 0px;
      top: -10px;
      img {
        width: 120px;
      }
    }
  }
}

@media (min-width: 411px) and (max-width: 768px) {
  /* Inner */
  .inner {
    .inner__mob {
      display: block;
      margin-top: -40px;

      img {
        width: 100%;
      }
    }

    .inner__last {
      right: 30px;
      width: 320px;
      z-index: 1;
    }

    .inner__logo {
      left: 0px;
      top: -8px;
      img {
        width: 120px;
      }
    }

    .inner__img {
      display: none;
    }

    .inner__slogan {
      bottom: 40px;
      z-index: 1;
    }
  }

  .banner {
    .banner__mob {
      display: block;
      margin-top: -40px;
      img {
        width: 100%;
      }
    }

    .banner__last {
      right: 34px;
      top: 260px;
      z-index: 0;
      width: 320px;
    }

    .banner__img {
      display: none;
    }

    .banner__logo {
      left: 0px;
      top: -10px;
      img {
        width: 120px;
      }
    }
  }
}
