@import "variables";

.blog {
  z-index: 1;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  img {
    width: 280px;
  }
  .blog__header,
  .blog__intro {
    text-align: center;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .blog__body {
    margin-left: 10px;
    margin-top: 60px;

    .art-a,
    .art-b {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      margin-right: 20px;
      margin-bottom: 20px;

      .art-uno,
      .art-dos,
      .art-tres,
      .art-cuatro,
      .art-cinco,
      .art-seis {
        margin-left: 60px;
        margin-top: 30px;
      }

      .art-cuatro,
      .art-cinco,
      .art-seis {
        margin-bottom: 160px;
      }
    }
  }
}

.bg__arts {
  position: absolute;
  z-index: 0;
  top: 820px;
  img {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .blog {
    .blog__header {
      margin-left: 0px;
      width: 280px;
    }

    .blog__intro {
      p {
        margin-left: -42px;
        width: 280px;
      }
    }

    .blog__body {
      .art-a,
      .art-b {
        display: block;
        margin-left: -10px;

        .art-uno,
        .art-dos,
        .art-tres,
        .art-cuatro,
        .art-cinco,
        .art-seis {
          margin-left: 0px;

          .ih-item.square.effect6 {
            overflow: hidden;
            width: 280px;
          }

          .img {
            width: 280px;
          }
        }
      }

      .art-b {
        .art-cuatro,
        .art-cinco,
        .art-seis {
          margin-bottom: 0px;
        }
      }
    }
  }

  .bg__arts {
    display: none;
  }
}

@media (min-width: 375px) and (max-width: 410px) {
  .blog {
    img {
      width: 320px;
    }
    .blog__header {
      margin-left: 0px;
      width: 320px;
    }

    .blog__intro {
      p {
        margin-left: -42px;
        width: 320px;
      }
    }

    .blog__body {
      .art-a,
      .art-b {
        display: block;
        margin-left: -2px;

        .art-uno,
        .art-dos,
        .art-tres,
        .art-cuatro,
        .art-cinco,
        .art-seis {
          margin-left: 0px;

          .ih-item.square.effect6 {
            overflow: hidden;
            width: 320px;
          }

          .img {
            width: 320px;
          }
        }
      }

      .art-b {
        .art-cuatro,
        .art-cinco,
        .art-seis {
          margin-bottom: 0px;
        }
      }
    }
  }

  .bg__arts {
    display: none;
  }
}

@media (min-width: 411px) and (max-width: 768px) {
  .blog {
    img {
      width: 360px;
    }
    .blog__header {
      margin-left: 0px;
      width: 360px;
    }

    .blog__intro {
      margin-left: 52px;
      p {
        margin-left: -42px;
        width: 360px;
      }
    }

    .blog__body {
      .art-a,
      .art-b {
        display: block;
        margin-left: 0px;

        .art-uno,
        .art-dos,
        .art-tres,
        .art-cuatro,
        .art-cinco,
        .art-seis {
          margin-left: -2px;

          .ih-item.square.effect6 {
            overflow: hidden;
            width: 360px;
          }

          .img {
            width: 360px;
          }
        }
      }

      .art-b {
        .art-cuatro,
        .art-cinco,
        .art-seis {
          margin-bottom: 0px;
        }
      }
    }
  }

  .bg__arts {
    display: none;
  }
}
