@import "variables";

.claims {
  .claims__header {
    text-align: center;
    margin-top: 60px;
  }

  .claims__body {
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    top: 60px;
    right: 60px;
    margin-bottom: 260px;

    img {
      width: 120px;

      &:hover {
        opacity: 90%;
        transition: all 0.6s;
      }
    }

    .claims__asesoria,
    .claims__calidad,
    .claims__clientes,
    .claims__justicia {
      display: inline-block;
      justify-content: center;
      a {
        text-decoration: none;
        position: absolute;

        p {
          opacity: 0%;
          text-align: center;
        }

        &:hover {
          p {
            transition: all 0.6s;
            opacity: 100%;
            margin-top: 20px;
            padding: 10px;
            display: block;
            text-align: center;
            text-decoration: none;
            color: $Blanco;
            background: $Rojo;
            border-radius: 6px;
            position: relative;
            right: 16px;
          }
        }
      }
    }

    .claims__clientes {
      a {
        p {
          margin-left: -14px;
        }
      }
    }

    .claims__calidad {
      margin-right: 26px;
    }
  }
}
