@import "variables";

.claims {
  .claims__header {
    text-align: center;
    margin-top: 60px;
  }

  .claims__body {
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    top: 60px;
    right: 60px;
    margin-bottom: 260px;

    img {
      width: 120px;

      &:hover {
        opacity: 90%;
        transition: all 0.6s;
      }
    }

    .claims__asesoria,
    .claims__calidad,
    .claims__clientes,
    .claims__justicia {
      a {
        text-decoration: none;
        position: absolute;

        p {
          display: none;
        }

        &:hover {
          p {
            transition: all 0.6s;
            margin-top: 20px;
            padding: 0px;
            display: flex;
            text-align: center;
            text-decoration: none;
            color: $Blanco;
            background: $Rojo;
            width: 130px;
            border-radius: 6px;
            padding-left: 20px;
            position: relative;
            right: 16px;
          }
        }
      }
    }

    .claims__calidad {
      a {
        &:hover {
          p {
            right: 20px;
          }
        }
      }
    }
  }
}
