@import "variables";

.cabeza {
    background: $Gris;
    text-align: center;
    color: $Blanco;
    padding: 20px;
    align-items: center;
}

.f__cont {
    text-align: center;
    color: $Blanco;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    width: 100%;
    height: 80px;
    margin-top: 164px;
    a {
        color: $Blanco;
        font-size: 24px;
        &:hover {
            color: $Rojo;
            transition: all 0.6s;
            text-decoration: none;
        }
    }
}

.access {
    text-align: center;
    align-items: center;
    margin-top: 80px;
    input {
        &:hover {
            transition: all 0.6s;
            -webkit-box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.75);
            box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.75);
        }
    }
}
