@import "variables";

footer {
  background: $Gris;
  text-align: center;
  color: white;
  width: 100%;
  height: 480px;
  display: flex;
  padding-top: 30px;
}

.footer__nav,
.footer__loc,
.footer__logo {
  width: 30%;
  margin-left: 60px;
  img {
    width: 70px;
  }
}

.footer__nav {
  ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
    li {
      margin: 8px;
      a {
        color: white;
        text-decoration: none;
      }

      a:hover {
        transition: all 0.5s;
        color: $Rojo;
      }
    }
  }
}

.footer__loc {
  .footer__loc--contacts {
    margin-top: 40px;
    .locals {
      a {
        color: white;
        text-decoration: none;
      }

      a:hover {
        transition: all 0.5s;
        color: $Rojo;
      }

      img:hover {
        transition: all 0.5s;
        opacity: 80%;
      }
    }

    .social {
      display: flex;
      margin-top: 60px;
      margin-left: 10px;
      .sc-a,
      .sc-b {
        display: flex;
      }

      .face img {
        width: 30px;
        margin: 24px;
      }

      .twit img {
        width: 70px;
        margin: 24px;
      }

      .linkedin img {
        width: 60px;
        margin: 24px;
      }

      .youtube img {
        width: 70px;
        margin-top: 34px;
        margin-left: 24px;
      }

      img:hover {
        opacity: 70%;
        transition: all 0.5s;
      }
    }
  }
}

.footer__logo {
  img {
    margin-top: 40px;
    margin-left: 20px;
    width: 200px;
    &:hover {
      width: 202px;
      transition: all 0.6s;
      opacity: 80%;
    }
  }
}

.footer__rights {
  display: flex;
  justify-content: center;
  background: $Gris;
  color: white;
  margin-top: -40px;
  padding-top: 20px;
  height: 50px;
}

@media (min-width: 320px) and (max-width: 374px) {
  footer {
    display: block;
    text-align: center;
    height: 980px;

    .footer__nav,
    .footer__loc,
    .footer__logo {
      display: block;
      width: 100%;
      margin-left: 0px;
    }

    .footer__loc {
      margin-top: 60px;

      .footer__loc--contacts {
        .social {
          margin-top: 40px;
          display: block;
          .sc-a,
          .sc-b {
            display: flex;
            margin-left: 70px;
          }

          .sc-b {
            margin-left: 54px;
          }

          img {
            width: 80px;
          }
        }
      }
    }

    .footer__logo {
      margin-top: 60px;
      img {
        margin-top: 0px;
        margin-left: 0px;
        width: 180px;
      }
    }
  }

  .footer__rights {
    background: $Gris;
    text-align: center;
    margin-top: 0px;
    p {
      background: $Gris;
      display: block;
      margin-bottom: -4px;
    }
  }
}

@media (min-width: 375px) and (max-width: 410px) {
  footer {
    display: block;
    text-align: center;
    height: 950px;

    .footer__nav,
    .footer__loc,
    .footer__logo {
      display: block;
      width: 100%;
      margin-left: 0px;
    }

    .footer__loc {
      margin-top: 60px;

      .footer__loc--contacts {
        .social {
          margin-top: 40px;
          display: block;
          .sc-a,
          .sc-b {
            display: flex;
            margin-left: 70px;
          }

          .sc-b {
            margin-left: 54px;
          }

          img {
            width: 80px;
          }
        }
      }
    }

    .footer__logo {
      margin-top: 60px;
      img {
        margin-top: 0px;
        margin-left: 0px;
        width: 180px;
      }
    }
  }

  .footer__rights {
    background: $Gris;
    text-align: center;
    margin-top: 0px;
    p {
      background: $Gris;
      display: block;
      margin-bottom: -4px;
    }
  }
}

@media (min-width: 411px) and (max-width: 768px) {
  footer {
    display: block;
    text-align: center;
    height: 940px;

    .footer__nav,
    .footer__loc,
    .footer__logo {
      display: block;
      width: 100%;
      margin-left: 0px;
    }

    .footer__loc {
      margin-top: 60px;

      .footer__loc--contacts {
        .social {
          margin-top: 40px;
          display: block;
          .sc-a,
          .sc-b {
            display: flex;
            margin-left: 70px;
          }

          .sc-b {
            margin-left: 54px;
          }

          img {
            width: 80px;
          }
        }
      }
    }

    .footer__logo {
      margin-top: 60px;
      img {
        margin-top: 0px;
        margin-left: 0px;
        width: 180px;
      }
    }
  }

  .footer__rights {
    background: $Gris;
    text-align: center;
    margin-top: 0px;
    p {
      background: $Gris;
      display: block;
      margin-bottom: -4px;
    }
  }
}
