@import "variables";

.intro {
  margin-top: 60px;

  .intro__background {
    position: absolute;
    top: 900px;
    z-index: 0;
    img {
      width: 100%;
    }
  }

  .container {
    z-index: 0;
    background: $Gristr;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 1;
    .intro__bg {
      z-index: 1;
      display: flex;
      justify-content: start;
      width: 100%;
      padding-left: 140px;
      padding-right: 0;

      .intro__img {
        width: 40%;
        margin-top: 20px;
        img {
          width: 540px;
        }
      }

      .intro__txt {
        text-align: start;
        width: 40%;
        margin: 20px;
        margin-left: 80px;
        color: $Blanco;
        .header__intro--txt {
          margin-bottom: 30px;
        }

        .separador__intro--txt {
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .intro {
    .intro__background {
      display: none;
    }

    .container {
      margin: 0px;
      .intro__bg {
        display: block;
        .intro__img {
          img {
            width: 280px;
          }
        }

        .intro__txt {
          margin: 0px;

          .separador__intro--txt {
            margin-left: -12px;
          }
        }
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 410px) {
  .intro {
    .intro__background {
      display: none;
    }

    .container {
      margin: 0px;
      .intro__bg {
        display: block;
        .intro__img {
          img {
            width: 330px;
          }
        }

        .intro__txt {
          margin: 0px;
          width: 320px;

          .separador__intro--txt {
            margin-left: -12px;
          }
        }
      }
    }
  }
}

@media (min-width: 411px) and (max-width: 768px) {
  .intro {
    .intro__background {
      display: none;
    }

    .container {
      margin: 0px;
      .intro__bg {
        display: block;
        padding-left: 0px;
        .intro__img {
          img {
            width: 370px;
          }
        }

        .intro__txt {
          margin: 0px;
          width: 380px;

          .separador__intro--txt {
            margin-left: -12px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .intro {
    .intro__background {
      display: none;
    }

    .container {
      margin: 0px;
      .intro__bg {
        display: flex;
        padding-left: 180px;
        .intro__img {
          img {
            margin-top: 40px;
            width: 500px;
          }
        }

        .intro__txt {
          margin-left: 110px;

          .separador__intro--txt {
            margin-left: -12px;
          }
        }
      }
    }
  }
}

@media (min-width: 1280px) and (max-width: 1441px) {
  .intro {
    .intro__background {
      display: none;
    }

    .container {
      margin: 0px;
      .intro__bg {
        display: flex;
        padding-left: 180px;

        .intro__img {
          img {
            width: 500px;
          }
        }

        .intro__txt {
          margin-left: 110px;

          .separador__intro--txt {
            margin-left: -12px;
          }
        }
      }
    }
  }
}
