@import "variables";

header {
  z-index: 2;
  position: relative;
  color: $Blanco;
  display: flex;
  justify-content: flex-end;

  #btn-menu {
    display: none;
  }

  label {
    font-size: 30px;
    cursor: pointer;
    display: none;
  }

  .banner__line {
    z-index: 1;
    position: absolute;
    margin-top: -4px;
    img {
      width: 100%;
    }
  }
}

.menu {
  margin-right: 60px;
  width: 820px;
  display: flex;
  justify-content: end;
  z-index: 1;
  ul {
    list-style: none;
    padding: 0px;
    display: flex;
    li {
      margin-left: 10px;
      a {
        padding: 15px 20px;
        display: block;
        color: $Blanco;
        text-decoration: none;
        font-size: 18px;
      }
      a:hover {
        color: $Rojo;
        transition: all 0.5s;
      }
    }

    .menu__selector {
      display: flex;
      p {
        font-size: 30px;
        margin-top: 4px;
      }

      li {
        margin: 0px;
        padding: 0px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  header {
    border: 2px solid red;
  }

  .menu {
    position: fixed;
    z-index: 0;
    top: 0px;
    left: 0;
    width: 100%;
    height: 1024px;
    transform: translateX(-100%);
    transition: all 0.5s;
    ul {
      padding-top: 100px;
      flex-direction: column;
      text-align: center;
      padding-left: 100px;

      .menu__selector {
        padding-left: 30px;
      }

      li {
        margin-top: 20px;
      }
    }
  }

  #btn-menu:checked ~ .menu {
    position: fixed;
    transform: translateX(0%);
    background: $Gris;
    z-index: 4;
  }
}
