@import "variables";

.wp {
  display: flex;
  position: fixed;
  top: 580px;
  z-index: 2;
  right: 20px;
  justify-content: end;
  align-items: right;

  .container {
    a {
      display: flex;
      color: $Blanco;
      text-align: center;
      text-decoration: none;

      p {
        display: none;
        margin-right: 20px;
        background: $Verdewp;
        border-radius: 4px;
        width: 220px;
        padding-top: 10px;
      }

      &:hover {
        p {
          display: block;
          transition: all 0.6s;
          -webkit-box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.75);
        }

        img {
          position: relative;
          transition: all 0.6s;
          opacity: 90%;
        }
      }
    }

    img {
      width: 80px;
      position: relative;
    }
  }
}
