@import "variables";
@import "footer";
@import "header";
@import "menu";
@import "banner";
@import "fontello";
@import "ihover";
@import "areas";
@import "claims";
@import "intro";
@import "suscribe";
@import "nosotros";
@import "blog";
@import "contacto";