.add-note {
    margin-top: 80px;
}

.todas-notas,
.editar__nota {
    margin-top: 60px;
}

.todas-notas {
    .container {
        .greet__control {
            margin: 0px 40px 40px 0px;
        }
    }
}