* {
    font-family: 'Francois One', sans-serif;
}

h1 {
    font-size: 34 px;
}

h2 {
    font-size: 32 px;
}

h3 {
    font-size: 28 px;
}

h4 {
    font-size: 26 px;
}

html {
    scroll-behavior: smooth;
}

.nav {
    background: $GrisD;
    img {
        width: 160px;
    }

    a {
        color: white;
        &:hover {
            transition: all .6s;
            color: $GrisC;
        }
    }
}

.slider {
    p {
        position: absolute;
        color: white;
        bottom: 260px;
        left: 200px;
        font-size: 40px;
    }
}

.nav__extras {
    margin-left: 30px;
    .nav-link {
        .light-mode {
            width: 26px;
            &:hover {
                transition: all .6s;
                opacity: 80%;
            }
        }
    }
}

.inner__background {
    img {
        width: 100%;
    }
}