.servicios {
    margin-top: 140px;
    .intro__serv {
        margin-top: 20px;
        color: white;
    }
}

.body__serv {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    height: 420px;

    img {
        width: 500px;
        cursor: pointer;
        &:hover {
            transition: all .8s;
            opacity: 80%;
        }
    }

    .serv__a--txt,
    .serv__b--txt,
    .serv__c--txt {
        position: relative;
        text-align: right;
        padding: 12px;

        position: relative;
        background: $GrisT;
        width: 500px;
        height: 336px;
        padding: 40px;
        opacity: 0%;

        bottom: 336px;
        
        a {
            color: white;
            &:hover {
                transition: all .8s;
                color: $GrisC;
                text-decoration: none;
            }
        }

        ul {
            list-style: none;
            padding: 0px;
            li {
                margin: 4px;
            }
        }

        &:hover {
            opacity: 100%;
            transition: all .8s;
        }
    }
}