<!-- Partners -->

<div class="partners">
    <div class="container">

        <div class="partners__title">
            <h2>Algunos de nuestros clientes</h2>
            <h3>Acreditan nuestra calidad de servicio</h3>
        </div>

        <div class="partner__body">

            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="marca-teacompano">
                            <a href="https://teacompano.com.co/">
                                <img src="{{ url_for('static', filename='img/logo-teacompano.png') }}"
                                    style="width: 110px;" alt="...">
                            </a>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Teacompaño</h5>
                                <p>Cuidados de Enfermería en Casa.</p>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="marca-ajm">
                            <a href="https://asesoriasjuridicasmed.com/">
                                <img src="{{ url_for('static', filename='img/ajm-logo.png') }}" style="width: 180px; margin-bottom: 20px; margin-top: -30px;"
                                    alt="...">
                            </a>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Asesorías Jurídicas Medellín</h5>
                                <p>Servicios jurídicos y legales en Medellín.</p>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="marca-farsali">
                            <a href="#">
                                <img src="{{ url_for('static', filename='img/logo-farsali.png') }}"
                                    style="width: 160px; margin-top: 40px;" alt="...">
                            </a>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Farsáli Colombia</h5>
                                <p>Mayorista para proveedores de productos cosméticos.</p>
                            </div>
                        </div>
                    </div>

                </div>

                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>

        </div>

    </div>
</div>

<!-- Fin Partners -->